// form {
//     //display: flex;
//     //flex-direction: column;
// }
.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
}

.select {
    width: 100%;
}

.janela {
    width: 50%;
}