<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">

            <a mat-list-item routerLink="/"><i class="material-icons">house </i> Início </a>

            <a mat-list-item routerLink="/pessoas"> <i class="material-icons"> person_add </i> Pessoas </a>

            <a mat-list-item routerLink="/salasTreinamento"> <i class="material-icons"> school </i> Salas de Treinamento </a>

            <a mat-list-item routerLink="/etapas"> <i class="material-icons"> schedule </i> Horário de Aulas </a>

            <a mat-list-item routerLink="/salasCafe"> <i class="material-icons"> local_cafe </i> Espaço Café </a>

            <a mat-list-item routerLink="/horariosCafe"> <i class="material-icons"> schedule </i> Intervalos </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>