<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">

            <a mat-list-item routerLink="/"><i class="material-icons">house </i> Início </a>

            <!-- <a mat-list-item routerLink="/precos"> <i class="material-icons"> monetization_on </i> Preços </a> -->
            <a mat-list-item href="http://www.google.com.br"> <i class="material-icons"> search </i> Goggle </a> -->

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>